*+* {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

a[href],
input[type='submit'],
input[type='image'],
label[for],
select,
button,
.pointer {
    cursor: pointer;
}

button:focus, input:focus {
    outline: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}