    $border-radius: .7em;
    $purple: rgb(67, 67, 194);

    .title {
        font-weight: bolder;
        font-size: large;
    }

    form.container {
        padding: .5em;
        justify-content: flex-start;
    }

    form>* {
        margin: .3em;
    }

    input {
        border-radius: $border-radius;
        border: 1px solid rgba(70, 70, 70, 0.137);

        text-align: center;
        padding: 1em .3em;
    }

    input:focus {
        background-color: rgba(240, 240, 240, 0.5);
    }

    .error {
        color: red;
        padding: 1em;
        border-radius: $border-radius;
    }

    .card-list {
        margin: 1% 0;
    }

    .card {
        border: 1px solid whitesmoke;
        border-radius: $border-radius;
        padding: 1em;
        margin: .7em;
        justify-content: space-between;

        -webkit-box-shadow: 10px 10px 50px -35px rgba(0, 0, 0, 0.66);
        -moz-box-shadow: 10px 10px 50px -35px rgba(0, 0, 0, 0.66);
        box-shadow: 10px 10px 50px -35px rgba(0, 0, 0, 0.66);
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 45px;
        background-color: $purple;
        padding: 0 8px;
        margin: 0;

        * {
            text-decoration: none;
            color: whitesmoke;
        }

        nav {
            a {
                padding: 0 15px;
                list-style-type: none;
            }
        }
    }

    button {
        border-radius: $border-radius;
        border: 3px solid transparent;

        font-weight: bolder;

        min-width: 100px;
        max-width: 150px;
        padding: 1em 1.5em;
        text-align: center;
    }

    button.filled:disabled,
    button.filled:disabled,
    button.filled:disabled:hover,
    button.filled:disabled:hover {
        background-color: rgb(230, 230, 230);
        color: rgb(100, 100, 100);
        border-color: rgb(230, 230, 230);
    }

    button.outline {
        border-color: $purple;
        background-color: white;
        color: $purple;
    }

    button.outline:hover {
        background-color: $purple;
        color: white;
    }

    button.filled {
        background-color: $purple;
        color: white;
    }

    button.filled:hover {
        border-color: $purple;
        background-color: white;
        color: $purple;
    }

    .footer {
        font-size: .9em;

        p {
            padding: 16px;
            margin: 16px 0;
        }
    }

    .content {
        height: 500px;
    }